= semantic_form_for @idea, :html => {:multipart => true} do |f|

  = f.inputs do
    
    .form-group
      .col-md-11.col-md-offset-1

      -# f.inputs :partial do
        = form.input :user_id , :as => :select, :collection => @users
        , html: {method: :post, :id => 'new_idea'} 
      -# *******************

      = f.input :title, :label => t(:title, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :maxlength => 40}, :required => false, placeholder: "название идеи (не более 40 символов)"
      %br
      = f.input :synopsis, as: :text, :label => t(:synopsis, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 3, :maxlength => 150}, :required => false, placeholder: "напишите коротко об идее (не более 150 символов)"
      %br
      = f.input :category_id, :as => :select, :collection => Hash[Category.all.map{|b| [b.name,b.id]}], :include_blank => false, :label => "Категория", autofocus: true, :input_html => {:class => "form-control"}, :required => false
      %br
      = f.input :problem, as: :text, :label => t(:problem, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 7, :maxlength => 2500}, :required => false, placeholder: "опишите проблему, при решении которой родилась Ваша идея (не более 2500 символов)"
      %br
      = f.input :background, as: :text, :label => t(:background, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 7, :maxlength => 2500}, :required => false, placeholder: "опишите существующие возможные аналоги Вашей идеи или изобретения (не более 2500 символов)"
      %br
      = f.input :solution, as: :text, :label => t(:solution, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 7, :maxlength => 2500}, :required => false, placeholder: "напишите коротко опишите суть идеи (не более 2500 символов)"
      %br

      
      -#
        = f.semantic_fields_for :idea_images do |builder|
          - if builder.object.new_record?
            = builder.file_field :image, autofocus: true, :required => true, :class => "loadbtn"
          -unless builder.object.new_record?
            .thumbnail

              = link_to( image_tag(builder.object.image.url(:thumb)), builder.object.image.url(:large) )
              -#
                = builder.check_box :delete

            -#
              = builder.label :image, "Image File"
              = builder.file_field :image

      = f.input :links, :label => t(:links, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 3, :maxlength => 1000}, :required => false, placeholder: "вставьте ссылку на видео - необязательное поле (не более 150 символов)"
      %br

      -#
        
        = f.input :show_skype, :as => :boolean, autofocus: true, :required => false
        = f.input :odnoklassniki, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "ok.ru/yourpage"

  = f.actions do
    .form-group
      .col-md-12 
        %br
        = f.submit action, :class => "input btn btn-primary"
        &nbsp
        &nbsp
        &nbsp
        = link_to "Отмена", :back, :class => "input btn backbtn"
        = f.submit "Опубликовать", :class => "input btn btn-primary pull-right"

