= semantic_form_for @idea, :html => {:multipart => true} do |f|

  = f.inputs do
    
    .form-group
      .col-md-11.col-md-offset-1



      -# f.inputs :partial do
        = form.input :user_id , :as => :select, :collection => @users
        , html: {method: :post, :id => 'new_idea'} 
      -# *******************

      = f.input :title, :label => t(:title, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :maxlength => 40}, :required => false, placeholder: "название идеи (не более 40 символов)"
      %br
      = f.input :synopsis, as: :text, :label => t(:synopsis, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 3, :maxlength => 150}, :required => false, placeholder: "напишите коротко об идее (не более 150 символов)"
      %br
      = f.input :category_id, :as => :select, :collection => Hash[Category.all.map{|b| [b.name,b.id]}], :include_blank => false, :label => "Категория", autofocus: true, :input_html => {:class => "form-control"}, :required => false
      %br
      = f.input :problem, as: :text, :label => t(:problem, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 7, :maxlength => 2500}, :required => false, placeholder: "опишите проблему, при решении которой родилась Ваша идея (не более 2500 символов)"
      %br
      = f.input :background, as: :text, :label => t(:background, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 7, :maxlength => 2500}, :required => false, placeholder: "опишите существующие возможные аналоги Вашей идеи или изобретения (не более 2500 символов)"
      %br
      = f.input :solution, as: :text, :label => t(:solution, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 7, :maxlength => 2500}, :required => false, placeholder: "напишите коротко опишите суть идеи (не более 2500 символов)"
      %br

      #new_assets
        
          

        / = form_for Asset.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
        / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
        .row.fileupload-buttonbar
          .col-md-10.col-md-offset-1
            / The fileinput-button span is used to style the file input field as button
            %span.btn.btn-success.btn-sm.fileinput-button
              %i.icon-plus.icon-white
              %span Add files...
              = f.file_field :upload
            %span.btn.btn-primary.btn-sm.start{:type => "submit"}
              %i.icon-upload.icon-white
              %span Загрузить
            %span.btn.btn-warning.btn-sm.cancel{:type => "reset"}
              %i.icon-ban-circle.icon-white
              %span Отменить
            %span.btn.btn-danger.btn-sm.delete{:type => "button"}
              %i.icon-trash.icon-white
              %span Удалить
            %input.toggle{:type => "checkbox"}/
          .span5
            / The global progress bar
            .progress.progress-success.progress-striped.active.fade
              .bar{:style => "width:0%;"}
        / The loading indicator is shown during image processing
        .fileupload-loading
        %br/
        / The table listing the files available for upload/download
        %table.table.table-striped
          %tbody.files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}




            = f.semantic_errors :base, class: 'inline-errors'

            = f.semantic_fields_for :assets, :id => "fileupload" do |builder|
              -#
                = builder.file_field :attachment, multiple: true,  autofocus: true, :required => true, :class => "loadbtn"
              - if builder.object.new_record?
                = builder.file_field :data
              -#  
                -unless builder.object.new_record?
                  .thumbnail

                    = link_to( image_tag(builder.object.url(:thumb)), builder.object.url(:large) )
                    
                    = builder.check_box :delete
                
                
      -#

        = f.semantic_fields_for :assets do |builder|
          - unless builder.object.new_record?
            = builder.input :_destroy, :as => :boolean,             |
              :label => image_tag(builder.object.image.url(:thumb)) |
          - else
            = builder.input :image, :as => :file, :name => "Add Image"
        

      = f.input :links, :label => t(:links, scope: "activerecord.attributes.idea"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 3, :maxlength => 1000}, :required => false, placeholder: "вставьте ссылку на видео - необязательное поле (не более 150 символов)"
      %br

      -#
        
        = f.input :show_skype, :as => :boolean, autofocus: true, :required => false
        = f.input :odnoklassniki, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "ok.ru/yourpage"

  = f.actions do
    .form-group
      .col-md-12 
        %br
        = f.submit action, :class => "input btn btn-primary"
        &nbsp
        &nbsp
        &nbsp
        = link_to "Отмена", :back, :class => "input btn backbtn"
        = f.submit "Опубликовать", :class => "input btn btn-primary pull-right"

:javascript
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
/ The template to display files available for upload
%script#template-upload{:type => "text/x-tmpl"}
  :cdata
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
    <button class="btn btn-primary">
    <i class="icon-upload icon-white"></i>
    <span>{%=locale.fileupload.start%}</span>
    </button>
    {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
    <button class="btn btn-warning">
    <i class="icon-ban-circle icon-white"></i>
    <span>{%=locale.fileupload.cancel%}</span>
    </button>
    {% } %}</td>
    </tr>
    {% } %}
/ The template to display files available for download
%script#template-download{:type => "text/x-tmpl"}
  :cdata
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
    {% if (file.error) { %}
    <td></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="preview">{% if (file.thumbnail_url) { %}
    <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
    {% } %}</td>
    <td class="name">
    <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
    </td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td colspan="2"></td>
    {% } %}
    <td class="delete">
    <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
    <i class="icon-trash icon-white"></i>
    <span>{%=locale.fileupload.destroy%}</span>
    </button>
    <input type="checkbox" name="delete" value="1">
    </td>
    </tr>
    {% } %}
%script{:charset => "utf-8", :type => "text/javascript"}
  :cdata
    $(function () {
    \// Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload();
    \//
    \// Load existing files:
    $.getJSON($('#fileupload').prop('action'), function (files) {
    var fu = $('#fileupload').data('blueimpFileupload'),
    template;
    fu._adjustMaxNumberOfFiles(-files.length);
    console.log(files);
    template = fu._renderDownload(files)
    \.appendTo($('#fileupload .files'));
    \// Force reflow:
    fu._reflow = fu._transition && template.length &&
    template[0].offsetWidth;
    template.addClass('in');
    $('#loading').remove();
    });
    });
