-title "Предложи идею"

%h1 Предложи идею
.col-md-12
%p.pages Я подтверждаю что это моя идея и она удовлетворяет всем требованиям.
%p.pages Только зарегистрированные пользователи могут предлагать свои идеи.

%br/

= semantic_form_for @idea, :html => {:id => 'agree'} do |f|
  .row
    .col-md-12
      = f.inputs do
        = f.input :agree, as: :boolean, :label => ("Согласен с  #{link_to('правилами идеи', terms_path, target: '_blank')}").html_safe, :input_html => {:class => "boolean-control"}, :required => false
  .row
    .col-md-12#wizard
      = f.actions do
        = f.action :submit, :label => "Дальше", :button_html => {class: css_for_link}
