-title @idea.title


.col-md-3
  .ideasidebar
    %h4 Автор
    = image_tag @idea.user.avatar.url(:medium), {class: "img-thumbnail img-responsive avatar", title: "#{@idea.user.fullname}"}
    %br
    %h2= @idea.user.fullname
    %p
      Проголосовало за идею:&nbsp;
      =@idea.votes_for.size
    %p 
      Просмотрело идею:&nbsp;
      =@idea.views
    %p 
      Опубликована:&nbsp;
      = l(@idea.created_at.to_date, :format => :long)
    %p
      = time_ago_in_words(@idea.created_at.to_date)
      =# t('time_ago', :scope => 'refinery.blog.posts.comments', :time => time_ago_in_words(comment.created_at))
      =# l(@idea.published_at.to_date, :format => :long)
    = link_to 'Комментарии', vote_idea_path(@idea), method: :post, class: "input btn btn-primary"


  
.col-md-9
  %h1.ideashow= @idea.title


  %blockquote
    = @idea.synopsis

  - if @images.any?  
    .fotorama{:"data-width" => '100%', :"data-height" => '800/450', :"data-maxwidth" => "800", :"data-maxheight" => "450", :"data-nav" => "thumbs", :"data-thumbwidth" => '80', :"data-thumbheight" => "80", :"data-allowfullscreen" => "true", :"data-fit" => "cover", :"data-transition" => "slide", :"data-clicktransition" => "crossfade", :"data-loop" => "true", :"data-keyboard" => "true"}
      - @images.each do |image|
        = image_tag image.url(:large)
    %br
    %br
  
  - unless @idea.links.blank?
    %h3.ideainfo Видео  
    .fotorama{:"data-width" => '100%', :"data-height" => '800/450', :"data-maxwidth" => "800", :"data-maxheight" => "450", :"data-allowfullscreen" => "true", :"data-fit" => "cover"}
      = link_to '', @idea.links
    %br
    %br
 
  %br
  %h3.ideainfo= t(:problem, scope: "activerecord.attributes.idea")
  %p.pages= @idea.problem
  %h3.ideainfo= t(:background, scope: "activerecord.attributes.idea")
  %p.pages= @idea.background
  %h3.ideainfo= t(:solution, scope: "activerecord.attributes.idea")
  %p.pages= @idea.solution
  %br
  %hr
  %br
  = link_to 'Проголосовать за идею', vote_idea_path(@idea), method: :post, class: "input btn btn-primary"
  &nbsp
  &nbsp
  &nbsp
  = link_to "Все идеи", ideas_path, :class => "input btn backbtn"
