-title @idea.title

%h1= @idea.title


%p
  %strong synopsis:
  = @idea.synopsis
%p
  %strong problem:
  = @idea.problem
%p
  %strong background:
  = @idea.background
%p
  %strong solution:
  = @idea.solution
= p @idea.idea_images
- @idea.idea_images.each do |idea_image|
  = image_tag @idea.idea_image.url(:large)
%p
  %strong links:
  = @idea.links


-#
  = link_to 'Edit', edit_idea_path(@idea)
|
=link_to 'Back', ideas_path


%br
=link_to "Предложи идею", new_idea_path(@idea)
%hr
%br
%br
%br
%br 
%br