- if user_signed_in?
  %h4 Напишите Ваш комментарий
  = semantic_form_for [@idea, Comment.new], remote: true do |f|
    = f.inputs do
      = f.input :body, as: :text, :label => false, autofocus: true,  :input_html => {:class => "form-control ", :rows => 3, :maxlength => 2500}, :required => false, placeholder: "Текст комментария"
    = f.actions do
      = f.action :submit, :label => "Отправить", :button_html => {class: css_for_link}
-else
  %p.pages Зарегистрируйтесь, чтобы оставлять комментарии
