-title "Здесь мечты становятся реальностью"
= render :partial => 'greeting/rev_slider'
= render :partial => 'greeting/text_blocks4'
=# render :partial => 'greeting/parallax'
=# render :partial => 'greeting/round_stars'
=# render :partial => 'greeting/text_blocks'
= render :partial => 'greeting/text'
= render :partial => 'greeting/portfolio'
= render :partial => 'greeting/scores'