-title "Images"

%h1 Images


-#
  =render 'assets/index'

= semantic_form_for [@idea, @idea.assets.new], url: idea_assets_path, :html => {:multipart => true} do |f|

  = f.inputs do
    
    = f.file_field :data, :multiple => true, name: "asset[data]"

  .idea-images
    = @idea.assets.each {|x| p x}
    %br
    - @idea.assets.each do |f|
      = image_tag f.url(:thumb) if f.persisted?
      %br
  .clearfix
  %br
  = render 'temp'

 

  



  = f.actions do
    .form-group
      .col-md-12 
        %br
        = f.submit "Дальше", :class => "input btn btn-primary"
        &nbsp
        &nbsp
        &nbsp
        = link_to "Отмена", :back, :class => "input btn backbtn"
        = f.submit "Опубликовать", :class => "input btn btn-primary pull-right"


