-title "#{@user.fullname}"
.col-md-3
  = image_tag @user.avatar.url(:medium), {class: "img-thumbnail img-responsive avatar", title: "#{@user.fullname}"}
  %hr.visible-sm.visible-xs.tall/
.col-md-1
.col-md-8
  %h2.show_user= @user.fullname
  #cga_info
    .country{ class: "country_#{@user.country_id}"}
    -if @user.show_gender && @user.gender
      .gender{class: "#{@user.gender == 'M' ? 'man': 'woman'}"}
    -if @user.show_birthdate && @user.birthdate
      %p.pages
        Возраст:&nbsp;
        =@user.age
    -else
      .clearfix 
  
  = render 'shared/social'
  
  -if @user.contact.show_skype && !@user.contact.skype.blank?
    .skype
      %i.icon.icon-skype
      %strong 
      =@user.contact.skype
      %br/
  -if @user.contact.show_site && !@user.contact.site.blank?
    %p.pages
      =link_to "Мой сайт", url_with_protocol(@user.contact.site), :target => '_blank'
      %br/
  
  -unless @user.description.blank?
    %p.description  
      Немного о себе:&nbsp;
      =@user.description
      %br/
