
-if signed_in?
  - css_class = user_css_klass? ? 'active' : ''
    
  %li{:class => 'dropdown ' + css_class}
    -#
      %a.dropdown-toggle{:href=>dashboard_user_path(current_user), 'data-target'=> '#', 'data-toggle' => 'dropdown'}
        =:logged_in.l + ' ' + current_user.login
        %i.icon.icon-caret-down
    %a.dropdown-toggle{href: user_path(current_user)}
      = current_user.fullname

      %i.icon.icon-caret-down
    %ul.dropdown-menu
      -if current_user.is_admin?
        %li= link_to 'Панель администратора', admin_dashboard_path
        %li.divider
      
      %li{:class => current_page('users', 'show')}
        = link_to "Мой профиль", user_path(current_user)
      %li{:class => current_page('registrations', 'edit')}
        = link_to "Редактировать профиль", edit_registration_path(current_user)
      %li{:class => current_page('users', 'load_avatar')}
        = link_to "Загрузить аватар", load_avatar_user_path(current_user) unless current_user.avatar_file_name
      %li{:class => current_page('users', 'avatar')}
        = link_to "Редактировать аватар", avatar_user_path(current_user) if current_user.avatar_file_name
      %li{:class => current_page('contacts', 'edit')}
        = link_to "Изменить контакты", edit_user_contact_path(current_user, current_user.contact)
      
      %li.divider
      %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete 

-else
  - if controller_name == 'registrations' && action_name == 'new' 
    - css_class_sign_up = 'active'
  - else 
    - css_class_sign_up = ''
  %li{:class => css_class_sign_up}
    = link_to t(:sign_up), new_registration_path(:user) 

  - if controller_name == 'sessions' && action_name == 'new'
    - css_class_sign_in = 'active'
  - else 
    - css_class_sign_in = ''  
  %li{:class => css_class_sign_in}
    = link_to t(:sign_in), new_user_session_path

    

-#
  %li= link_to "Изменить пароль", edit_password_path(current_user)
  %li= link_to :edit_profile.l, edit_user_path(current_user)
  %li= link_to :edit_account.l, edit_account_user_path(current_user)
  %li= link_to :manage_posts.l, manage_user_posts_path(current_user)
  %li= link_to :inbox.l, user_messages_path(current_user)
  %li.divider
  %li= link_to :my_profile.l, user_path(current_user)
  %li= link_to :my_blog.l, user_posts_path(current_user)
  %li= link_to :photo_manager.l, user_photo_manager_index_path(current_user)
  %li= link_to :my_clippings.l, user_clippings_path(current_user)
  %li= link_to :my_friends.l, accepted_user_friendships_path(current_user)





