.contact-detail
%h5 Получайте наши новости первыми
%form#mc-embedded-subscribe-form.formtastic.validate{:action => "//us8.list-manage.com/subscribe/post?u=acf0e2145773132dab5c541d1&id=77f7cf58ac", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
  %fieldset.inputs
    %ol#subscribe_form
      %li.string.input.required
        %input.form-control{:name => "EMAIL", :type => "email", :required => true, :placeholder => "Ваш email"}/
      %div{:style => "position: absolute; left: -5000px;"}
        %input{:name => "b_acf0e2145773132dab5c541d1_77f7cf58ac", :tabindex => "-1", :type => "text", :value => ""}/
 
      %li.string.input
        %input.btn.btn-primary.btn-sm{:name => "subscribe", :type => "submit", :value => "Подписаться"}/


-#
  %form#sign_in.formtastic.user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post", :novalidate => "novalidate"}
  %div{:style => "display:none"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "Z1l+8KWZnZr9WOI8GD9xq3PTjck+ieryuUoA1iApC98="}/
  .row
    %fieldset.inputs
      %ol
        .form-group
          .col-md-12
            %li#user_login_input.string.input.optional.stringish
              %label.label{:for => "user_login"} Логин
              %input#user_login.form-control{:name => "user[login]", :placeholder => "username или email", :type => "text"}/
        .form-group
          .col-md-12
            %li#user_password_input.password.input.optional.stringish
              %label.label{:for => "user_password"} Пароль
              %input#user_password.form-control{:maxlength => "128", :name => "user[password]", :type => "password"}/
        .form-group
          .col-md-12
            %li#user_remember_me_input.boolean.input.optional
              %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
              %label{:for => "user_remember_me"}
                %input#user_remember_me.boolean-control{:name => "user[remember_me]", :type => "checkbox", :value => "1"}>/
                Запомнить меня
    %fieldset.actions
      %ol
        .form-group
          .col-md-12
            %li#user_submit_action.action.input_action
              %input.input.btn.btn-primary.pull-right.push-bottom{:name => "commit", :type => "submit", :value => "Войти"}/

-#
  = semantic_form_for  :html => {:id => 'sign_in'} do |f|
    .row
      = f.inputs do
        .form-group
          .col-md-12
            = f.input :login, :label => t(:name, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "username или email"
        .form-group
          .col-md-12    
            = f.input :password, :label => t(:password, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false
        .form-group
          .col-md-12    
            = f.input :remember_me, as: :boolean, :inline_label => t(:remember_me, scope: "activerecord.attributes.user"), :input_html => {:class => "boolean-control"}, :required => false
      = f.actions do
        .form-group
          .col-md-12
            = f.action :submit, :label => t(:sign_in), :button_html => {:class => "input btn btn-primary pull-right push-bottom"}
-#

  -#
  %ul.contact
    %li
      %p
        %i.icon.icon-envelope
        %strong Email:
        %a{href: "mailto:support@glash.ru"} support@glash.ru
    -#
      %li
        %p
          %i.icon.icon-map-marker
          %strong Информация
      %li
        %p
          %i.icon.icon-phone
          %strong Телефон
          (123) 456-7890