-title "Редактировать контакты"
%h1
  Редактировать контакты
= semantic_form_for(@contact, url: user_contact_path(@user, @contact), html: { method: :put }) do |f|
  .col-md-3
    = image_tag @user.avatar.url(:thumb), class: "img-thumbnail", width: "192px"
    %br
  .col-md-9
    = f.inputs do
      .col-md-12
      %p
        Телефоны и Skype необходимы для связи с Вами они видны только Вам и сотрудникам сайта. Вы может сделать видимым для всех логин скайпа, отметив соответствующий пункт. Ознакомьтесь, пожалуйста, с нашей  #{link_to('Privacy Policy', privacy_policy_path, target: '_blank')}.
      %br/
      .form-group
        .col-md-12                      
          = f.input :phone, as: :phone, :label => t(:phone, scope: "activerecord.attributes.contact"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "+7 (987) 123-4567"
      .form-group
        .col-md-12                      
          = f.input :phone2, :label => t(:phone, scope: "activerecord.attributes.contact"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "запасной телефон"
      .form-group
        .col-md-12                      
          = f.input :skype, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "skype"
          = f.input :show_skype, :as => :boolean, autofocus: true, :required => false
      %hr
      .form-group
        .col-md-12                      
          = f.input :site, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "site.ru"
          = f.input :vk_url, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "vk.com/username"
          = f.input :odnoklassniki_url, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "ok.ru/yourpage"
          = f.input :facebook_url, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "www.facebook.com/username"
          = f.input :twitter_url, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "twitter.com/username"
          = f.input :linkedin_url, autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "www.linkedin.com/yourpage"
      %br
    = f.actions do
      .form-group
        .col-md-12 
          %br
          = f.submit "Изменить данные", :class => "input btn btn-primary"
          &nbsp
          &nbsp
          &nbsp
          = link_to "Отмена", :back, :class => "input btn backbtn"