-title t(:forgot_password, scope: 'devise.passwords')
.row.featured-boxes
  .col-md-8
    .featured-box.default
      .box-content
        %h4= t(:forgot_password, scope: 'devise.passwords')
        = semantic_form_for @user, url: password_path(@user), :html => {:id => 'new_password'} do |f|
          .row
            = f.inputs do
              .form-group
                .col-md-12
                  = f.input :email, :label => t(:email, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "email"
            = f.actions do
              .form-group
                .col-md-12
                  = f.action :submit, :label => "Отправить", :button_html => {:class => "input btn btn-primary pull-right push-bottom"}
  .col-md-4
    .featured-box.default
      .box-content
        %h4
          Помощь
        %p
          Введите свой email, мы Вам вышлем ссылку на изменение пароля.
        %p  
          = link_to t(:resend_confirmation_instructions, scope: 'devise.confirmations'), new_confirmation_path(resource_name)