!!!
/[if IE 8] <html class="ie ie8">
/[if IE 9] <html class="ie ie9">
/ [if gt IE 9]><!
%html
  / <![endif]
  %head
    = render :partial => "shared/scripts_and_styles"
  %body
    .body
      = render :partial => 'shared/header'
      .main{role: "main"}
        -if user_signed_in?
          .container
            .row
              .col-md-12
                = render :partial => "shared/notice_alert"
                = yield
        -else
          = yield
          /= render :partial => 'layouts/page_left_sidebar'
      = render :partial => 'shared/footer'
    
    = yield :head_js
    = render :partial => 'shared/se_analytics'

    
     