!!!
/[if IE 8] <html class="ie ie8">
/[if IE 9] <html class="ie ie9">
/ [if gt IE 9]><!
%html
  / <![endif]
  %head
    = render :partial => "shared/scripts_and_styles"
  %body
    .body
      = render :partial => 'shared/header'
      .main{role: "main"}
        = yield
        /= render :partial => 'layouts/page_left_sidebar'
      = render :partial => 'shared/footer'
    = javascript_include_tag 'application', "data-turbolinks-track" => true 
    = render :partial => 'shared/se_analytics'

    
     