-title Редактировать данные
%h2
  Изменить данные #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :fname
    %br/
    = f.text_field :fname, autofocus: true
  %div
    = f.label :mname
    %br/
    = f.text_field :mname, autofocus: true
  %div
    = f.label :lname
    %br/
    = f.text_field :lname, autofocus: true
  %div
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %br/
  %div
    = f.label :birthdate
    %br/
    = f.date_select :birthdate, autofocus: true
    %br/
    = f.check_box :show_birthdate
    = f.label :show_birthdate
  %br/
  %div
    = f.label :gender
    %br/
    = f.radio_button :gender, true, autofocus: true
    = f.label :gender, "Мужской"
    = f.radio_button :gender, false, autofocus: true
    = f.label :gender, "Женский"
    %br/
    = f.check_box :show_gender, autofocus: true
    = f.label :show_gender
  %br/
  %div
    = f.label :description
    %br/
    = f.text_area :description, autofocus: true
  %br/
  %div
    = f.label :slug
    %br/
    = f.text_field :slug, autofocus: true
  %br/
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %div
    = f.label :password
    %i (Оставьте эти поля пустыми, если не хотите изменить пароль)
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %br/
  %div
    = f.label :current_password
    %i (Введите свой пароль, чтобы сохранить изменения)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  %div= f.submit "Изменить данные"
%h3 Удалить меня
%p
  Удалить? #{button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete}
= link_to "Назад", :back
