-title "Редактировать данные"
%h1
  Редактировать данные
=# form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :id => 'contactForm' }) do |f|
  = devise_error_messages!

  
  
  .col-md-3
    = image_tag @user.avatar.url(:thumb), class: "img-thumbnail", width: "190px"
    %br
    %br
    =# f.file_field :avatar
    =# link_to "Изменить аватар", {:controller => "users", :action => "load_avatar", id: current_user.slug},  :class => "input btn btn-primary backbtn"
    = link_to "Изменить аватар", load_avatar_user_path(current_user) , :class => "input btn btn-primary backbtn"
      
  .col-md-9
    = f.inputs do
      .form-group
        .col-md-12                      
          = f.input :fname, :label => t(:fname, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "имя"
      .form-group
        .col-md-12                      
          = f.input :mname, :label => t(:mname, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "отчество"
      .form-group
        .col-md-12                      
          = f.input :lname, :label => t(:lname, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "фамилия"
      .form-group
        .col-md-12                      
          = f.input :name, :label => t(:name, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "username"
      .form-group
        .col-md-12                      
          = f.input :email, :label => t(:email, scope: "activerecord.attributes.user"), autofocus: true,  :input_html => {:class => "form-control"}, :required => false, placeholder: "mail@example.ru"
      .form-group
        .col-md-12                      
          = f.input :slug, :label => t(:slug, scope: "activerecord.attributes.user"), autofocus: true,  :input_html => {:class => "form-control"}, :required => false, placeholder: "http://glash.ru/адрес"
      .form-group
        .col-md-12   
          = f.input :birthdate, :as => :date_select, :start_year => Date.today.year - 18, :end_year => Date.today.year - 80, :default => Date.today.year - 30,  :include_blank => false, :input_html => {:class => "form-control"}
          = f.input :show_birthdate, :as => :boolean
      .form-group
        .col-md-12                      
          = f.input :gender, :as => :radio, :label => t(:gender, scope: "activerecord.attributes.user"), autofocus: true, :collection => [["Мужской", true], ["Женский", false]]
          = f.input :show_gender, :as => :boolean
      %br
      .form-group
        .col-md-12                      
          = f.input :description, as: :text, rows: 2, :label => t(:description, scope: "activerecord.attributes.user"), autofocus: true,  :input_html => {:class => "form-control ", :rows => 5, :maxlength => 250}, :required => false, placeholder: "напишите немного о себе \n(не более 250 символов)"
      %hr
      .form-group
        .col-md-12
          %h4 Введите текущий пароль
          %p (Необходимо для сохранения изменений)
          %br
          = f.input :current_password, autocomplete: "off", :label => t(:password, scope: "activerecord.attributes.user"), autofocus: true,  :input_html => {:class => "form-control"}, :required => false

    %br
    = f.actions do
      .form-group
        .col-md-12 
          %br
          = f.submit "Изменить данные", :class => "input btn btn-primary backbtn"
          = link_to "Отмена", :back, :class => "input btn backbtn"
     

-#
  t(:birthdate, scope: "activerecord.attributes.user")
  :input_html => { :class => 'autogrow', :rows => 10, :cols => 20, :maxlength => 10  }


        
     

-# Редактирование пароля
-#
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %div
    = f.label :password
    %i (Оставьте эти поля пустыми, если не хотите изменить пароль)
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %br/

.clearfix

-#
  .col-md-8.col-md-offset-4
    %hr/
    %br/ 
    %div
      = f.label "Введите текущий пароль"
      %br/
      %i (Необходимо для сохранения изменений)
      %br/
      = f.password_field :current_password, autocomplete: "off"
      %br/
      %br/
    %div= f.submit "Изменить данные", :class => "input btn btn-primary backbtn"


-#  
  %h3 Удалить меня
  %p
    Удалить? #{button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete}
  = link_to "Назад", :back

%br/
%br/    
