-title t(:sign_up)
.row.featured-boxes
  .col-md-8
    .featured-box.default
      .box-content
        %h4= t(:sign_up)
        %p
          Все поля обязательны для заполнения
        = semantic_form_for @user, :html => {:id => 'sign_up'} do |f|
          .row
            = f.inputs do
              .form-group
                .col-md-12                      
                  = f.input :fname, :label => t(:fname, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "имя"
              .form-group
                .col-md-12                      
                  = f.input :lname, :label => t(:lname, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "фамилия"
              .form-group
                .col-md-12                      
                  = f.input :name, :label => t(:name, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "username"
              .form-group
                .col-md-12                      
                  = f.input :email, :label => t(:email, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "mail@example.ru"
              .form-group
                .col-md-12
                  = f.input :password, :label => t(:password, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "минимум 8 символов"
              .form-group
                .col-md-12
                  = f.input :password_confirmation, :label => t(:password_confirmation, scope: "activerecord.attributes.user"), autofocus: true, :input_html => {:class => "form-control"}, :required => false, placeholder: "повторите пароль"
              .form-group
                .col-md-12
                  = f.input :terms, as: :boolean, :label => ("Согласен с  #{link_to('Правилами использования сайта', '/terms', target: '_blank')}").html_safe, :input_html => {:class => "boolean-control"}, :required => false
            = f.actions do
              .form-group
                .col-md-12
                  = f.action :submit, :label => t(:sign_up), :button_html => {:class => "input btn btn-primary pull-right push-bottom"}
  .col-md-4
    .featured-box.default
      .box-content
        %h4
          Помощь
        %p
          После регистрации на Ваш email придет письмо с инструкциями по активации.
          %br
          Просто перейдите по ссылке, присланной в письме, для подтверждения регистрации.
        
        = link_to t(:resend_confirmation_instructions, scope: 'devise.confirmations'), new_confirmation_path(resource_name)
      
      .box-content
        %ul.nav.nav-list
        %h4
          Зачем нужна регистрация
        %p Только зарегистрированные пользователи могут:
        %li публиковать свои идеи,
        %li комментировать идеи других участников сообщества,
        %li принимать участие в различных этапах проектов,
        %li возможность пользоваться всеми услугами сайта.
        %br
        %p.lastreg И самое главное - регистрация позволит Вам голосовать за понравившиеся идеи, публиковать свои предложения и становиться соавторами идей, принимая участие в распределении прибыли.

            